.actions {
	display: flex;
	gap: 16px;
}

.actions svg {
	cursor: pointer;
	width: 18px;
	height: 18px;
	filter: brightness(0) saturate(100%) invert(30%) sepia(17%) saturate(1171%)
		hue-rotate(77deg) brightness(96%) contrast(85%);
}
